body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  .slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: #2980b9;
  }
  